.status {
    background-color: #CE2829;
    width: 100vw;
    height: 100vh;
}

.status header {
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    padding: 10px;
    box-sizing: border-box;
}

.status header img {
    height: 30px;
}

.status main {
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status main p {
    margin: 0;
    color: white;
    font-size: 2.7rem;
    font-family: "Roboto Condensed", serif;
    font-weight: 300;
    line-height: 2.7rem;
    margin-bottom: 5rem;
    text-align: center;
}